*.py~
~*
/pkg
Main/keyList.dat
.DS_Store
Main/__pycache__/
ATmegaFR/FR_Project/.vs/FR_Project/v14/.atsuo
ATmegaFR/FR_Project/FR_Project.atsln
ATmegaFR/FR_Project/FR_Project/Debug/FR_Project.eep
ATmegaFR/FR_Project/FR_Project/Debug/FR_Project.elf
ATmegaFR/FR_Project/FR_Project/Debug/FR_Project.hex
ATmegaFR/FR_Project/FR_Project/Debug/FR_Project.lss
ATmegaFR/FR_Project/FR_Project/Debug/FR_Project.map
ATmegaFR/FR_Project/FR_Project/Debug/FR_Project.srec
ATmegaFR/FR_Project/FR_Project/Debug/I2C.d
ATmegaFR/FR_Project/FR_Project/Debug/I2C.o
ATmegaFR/FR_Project/FR_Project/Debug/main.d
ATmegaFR/FR_Project/FR_Project/Debug/main.o
ATmegaFR/FR_Project/FR_Project/Debug/makedep.mk
ATmegaFR/FR_Project/FR_Project/Debug/Makefile
ATmegaFR/FR_Project/FR_Project/Debug/MPU6050.d
ATmegaFR/FR_Project/FR_Project/Debug/MPU6050.o
ATmegaFR/FR_Project/FR_Project/Debug/USART.d
ATmegaFR/FR_Project/FR_Project/Debug/USART.o
ATmegaFR/FR_Project/FR_Project/FR_Project.componentinfo.xml
ATmegaFR/FR_Project/FR_Project/FR_Project.cproj
